/* dashboard.css */

h1 {
    margin-bottom: 20px;
}

#userInfo {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#userInfo h2 {
    margin-bottom: 10px;
}