/* static/css/reset_password.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
  }
  
  .back-link {
      position: absolute; /* Position the back link absolutely */
      top: 20px; /* Distance from the top */
      right: 20px; /* Distance from the right */
      font-size: 16px; /* Font size for the back link */
      color: #3498db; /* Color for the link */
  }
  
  .back-link a {
      text-decoration: none; /* Remove underline from link */
  }
  
  h1 {
    text-align: center;
    color: #1d3557;
    font-size: 28px;
    margin-bottom: 30px;
  }
  
  form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-size: 14px;
  }
  
  input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #1d72b8;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #155a8a;
  }
  
  #message {
    color: red;
    text-align: center;
    margin-top: 10px;
  }