<nav></nav>
    <ul class="navbar">
        <li><a href="index.html">Home</a></li>
        <li><a href="login.html">Login</a></li>
        <li><a href="register.html">Register</a></li>
        <li><a href="dashboard.html">Dashboard</a></li>
        <li><a href="transactions.html">Transactions</a></li>
    </ul>
</nav>

<style>
    .navbar {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        padding: 10px;
        background-color: #007bff;
    }

    .navbar li {
        display: inline;
    }

    .navbar a {
        color: white;
        text-decoration: none;
        padding: 10px;
    }

    .navbar a:hover {
        text-decoration: underline;
    }
</style>