<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
    		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Home page</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
	</head>
	<body>
		<div class="container">
		<p>Bankify - Your All In One Banking System</p>
		  <div class="link-grid">
			<div class="link-box">
                	<a href="{{ url_for('home_page') }}">Home</a>
            		</div>
            		<div class="link-box">
                	<a href="{{ url_for('send_transaction_page') }}">Send Transaction</a>
            		</div>
            		<div class="link-box">
                	<a href="{{ url_for('accounts_page') }}">Accounts</a>
            		</div>
            		<div class="link-box">
                	<a href="{{ url_for('transactions_page') }}">Transactions</a>
            		</div>
            		<div class="link-box">
                	<a href="{{ url_for('profile_page') }}">Profile</a>
            		</div>
            		<div class="link-box">
                	<a href="{{ url_for('logout') }}">Logout</a>
            		</div>
        	  </div>
		</div>
	</body>
</html>
